@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Programador", "Programador"); 
@Html.ActionLink("Administrativo", "Administrativo");



<a href="Calculadora/Programador">Programador</a>
<a href="Administrativo">Administrativo</a>

